@model Usuario
@{ViewData["Title"]="Edição de Usuários";}
<link rel="stylesheet" href="~/css/UEdicao.css">
<fieldset>
<h2>Edição de usuários</h2>
<p id="viewbag">@ViewBag.mensagem</p>
<form asp-action="Edicao" method="post">
    <p><label asp-for="id">Selecione o id do usuário que deseja alterar: </label></p>
    <p><input asp-for="id" placeholder="Coloque o id aqui"></p>
    <p><label asp-for="login">Escreva o novo login: </label></p>
    <p><input asp-for="login" placeholder="Coloque o login aqui"></p>
    <p><label asp-for="senha">Escreva a nova senha: </label></p>
    <p><input type="password" asp-for="senha" placeholder="Coloque a senha aqui"></p>
    <p><label asp-for="tipo">Tipo: </label></p>
    <p><select asp-for="tipo">
            <option value="0">Colaborador</option>
            <option value="1">Administrador</option>
        </select>
    </p> 
    <p><input type="submit" value="atualizar" id="atualizar"></p>
    <p><a asp-action="Index" asp-controller="Home"><input type="button" value="Cancelar" id="cancelar"></a></p>
    <p id="listar_page">@if(ViewBag.mensagem!=null){<a asp-action="Listar" id="listar_page">Voltar a listagem</a>}</p>
</form>
</fieldset>