@{ViewData["Title"]="Quem Somos";}
<link rel="stylesheet" href="~/css/QuemSomos.css">
<h2>Quem somos</h2>
<p id="quem">Somos a empresa Travel Peace, somos iniciantes nesse mercado de viagens mas já temos ótimos serviços disponíveis e garantimos a você o nosso melhor atendimento e se você der uma chance vai ver que vale a pena</p>
<a asp-action="Index" id="voltar">Clique aqui para ver as viagens disponíveis</a>