fieldset{
    width: 500px;
    position: relative;
    left: 400px;
    background-color: mediumaquamarine;
    margin-bottom: 10px;
    color: white;
}
h2{
    text-align: center;
}
input{
    position: relative;
    width: 200px;
}
select{
    position: relative;
    width: 200px;
}
input#cancelar{
    position: absolute;
    left: 280px;
}
input#cadastro{
    position: absolute;
    left: 30px;
}
label{
    text-align: center;
    position: relative;
    left: 0px;
}
main p{
    text-align: center;
}
p#viewbag{
    text-align: center;
}
p#home_page{
    text-align: center;
    position: relative;
    top: 27px;
    padding-bottom: 10px;
}
a#home_page{
    color: white;
}
